.btn {
    margin-left: 18vh;
    margin-top: 3.5vh;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.1s, opcaity 0.1s;
}

img {
    width: 5vh;
    height: 5vh;
}

body {
    font-family: 'Noto Sans Thai';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Thai';
    background: #1b1b1b;
    color: #eee;
}


input[type="text"] {
    height: 20px;
}

input {
    background-color: #333;
    color: white;
}

button {
    background: #333;
    color: #eee;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}